/* Slideshow */

.slideshow , slideshow1 {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .slideshow1{
    height: 10vh;
    display: none;
  }

  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease-in-out 1000ms;
  }
  
  .slide0 {
    background: linear-gradient(to top,#9396e8ba, #4234bf),url("../../images/bg1.jpg");
  }
  .slide1{
    background: linear-gradient(to top, #9396e8ba, #4234bf),url("../../images/bg2.jpg");
  }
  .slide2{
    background: linear-gradient(to top,#9396e8ba, #4234bf),url("../../images/bg3.jpg");
  }
  .slide0,.slide1,.slide2 {
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90vw 100vh;
    width: 100%;
    animation: shrink 5s infinite alternate;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: -10vh;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    cursor: pointer;
    margin: 1.5vw 0.7vw 0px;
    background-color: white;
    border: 4px solid whitered;
  }
  
  .slideshowDot.active {
    background-color: transparent;
    box-shadow: 0 0 5px 5px white;
  }

  .nextButton{
    margin-left: 96vw;
  }