/* Position the navbar container inside the image */
.container {
    /* position: absolute;
    z-index: 1; */
    position: relative;
    background-color: #5203ef;
  }

  .container1 {
    position: relative;
    background-color: #5203ef;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1vw 1.6vw;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 700;
    transition: box-shadow 1s;
  }
  
  .topnav a:hover {
    box-shadow: inset 0 -5px rgb(11, 5, 203);
  }