.app{
  font-family:"Open Sans",sans-serif;
}

.bg-img {
  /* The image used */
  background: linear-gradient(to top, #1707a4, #272deaba), url("images/bg3.jpg") no-repeat top center;
  /* height: 90vh; */
  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 9vw 10vh;
  /* Needed to position the navbar */
  position: relative;
  /* display: flex; */
  animation: shrink 5s infinite alternate;

}

@keyframes shrink {
  0% {
    background-size: 110vw 110vh;
  }
  100% {
    background-size: 100vw 100vh;
  }
} 

.headerText{
  padding-top: 10vh;
  padding-left: 20vh;
  padding-bottom: 10vh;
  color: white;
  font-family: initial;
}

.headerLine1{
  color: chartreuse;
  font-size:2vw;
  padding-left: 1vw;
}

.headerLine2{
  font-size:7vw;
  margin-top: -5vh;
}

.headerLine3 {
  padding-top: 2vh;
  font-size: 1vw;
  padding-left: 1vw;
}
